#description {
    position: relative;
    padding: 80px;

    .container {
        position: relative;
        padding: 0 12px;

        .content {
            text-align: center;
            padding: 20px 0;
            h6 {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0;
                color: var(--ternary-color-2);
            }
        }
    }
}
